table {
  border-spacing: 0;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #d5d6d8;
  padding: 13px 10px 11px;
  text-align: left;
  user-select: none;
}

table th a,
table td a {
  float: right;
  margin-left: 10px;
}

table tbody td.selected {
  background-color: #edf9ff;
  box-shadow: 1px 0px 0 0 #b3def4, 0px 1px 0 0 #b3def4, 0px 0px 0 0 #b3def4, 1px 1px 0 0 #b3def4;
}
